@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Kanit:wght@300&family=Pixelify+Sans&display=swap");

* {
  font-family: "Kanit", sans-serif;
}

body {
  background-color: #8d7b68;
}

/* -- Aqui va el estilo de lo que es el navegador -- */

nav {
  margin-top: 1em;
  background-color: #c8b6a6;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 10px #584d42;
  font-size: 1.6em;
}

nav img {
  width: 150px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: font-size 0.3s;
}

nav a:hover {
  color: black;
  font-size: 1.2em;
  transition: 0.5s;
}

nav #actual {
  color: rgb(100, 84, 14);
}

/* Aqui esta el estilo del contenedor */
.content {
  margin-top: 2em;
  background-color: #c8b6a6;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 10px #584d42;
}

/* Aqui esta el estilo para de como van las prendas */

.mostrarPrendas {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.paginas {
  text-align: center;
  a {
    display: inline-block;
    text-decoration: none;
    background-color: #584d42;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.5s, transform 0.5s ;
    &:hover{
      transform: translateY(8px);
      background-color: #494037;
    }

  }
}

.prenda {
  border: 2px solid #584d42;
  border-radius: 8px;
  overflow: hidden;
  width: 250px;
  margin: 10px;
  /*prueba*/
  opacity: 0; /* Inicialmente establecemos la opacidad a 0 */
  transform: translateY(20px); /* Desplazamos la prenda hacia abajo */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Agregamos transición para opacidad y transformación */
}

.prenda.mostrar {
  opacity: 1;
  transform: translateY(0);
}

.card-img {
  width: 100%;
  height: auto;
}

.card-info {
  padding: 4px;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
}

.card-details {
  font-size: 14px;
  color: #555;
}

.card-price {
  font-size: 18px;
  font-weight: bold;
  color: #e44d26;
}

.add-button {
  background-color: #584d42;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.add-button:hover {
  background-color: rgb(100, 84, 14);
}

/*Estilo de los detalles de la cuenta*/
.detallesCuenta {
  text-align: center;
  justify-content: space-around;
  display: flex;

  & form button {
    background-color: #584d42;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  & form button:hover {
    background-color: #352e28;
    font-size: 12px;
    transition: 0.4s;
  }
}

/*Estilo del div del infoPrenda que muestra una sola prenda*/
.infoPrenda {
  display: flex;
  justify-content: center;

  & form button {
    background-color: #584d42;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }

  & form a {
    background-color: #584d42;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
  }

  & form a:hover {
    background-color: #352e28;
    font-size: 12px;
    transition: 0.4s;
  }

  & form button:hover {
    background-color: #352e28;
    font-size: 12px;
    transition: 0.4s;
  }

  & form input {
    font-weight: bold;
    text-align: center;
    margin-left: 5px;
    border: 0px;
    border-bottom: 1px solid black;
    background-color: #c8b6a6;
  }

  & form input:focus {
    outline: none;
  }
}

/*Estilo del div carrito*/
.carrito {
  padding: 1em;
  align-items: center;
  text-align: center;
  .sinContenido {
    a {
      background-color: #584d42;
      color: white;
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 14px;
      text-decoration: none;

      &:hover {
        background-color: #352e28;
        font-size: 12px;
        transition: 0.4s;
      }
    }
  }
  .item {
    display: flex;
    align-items: center;
    flex-direction: row;
    img {
      max-width: 10%;
      height: auto;
      margin-right: 10px; /* Añadí un margen derecho para separar la imagen del texto */
    }
    .info {
      display: flex;
      flex-direction: column;

      .nombre {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 3px;
      }

      .cantidad {
        font-size: 12px;
        margin-bottom: 3px;
      }

      .precio {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
      }

      .eliminar {
        text-decoration: none;
        color: red;
        font-size: 12px;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.Confirmacion-de-pedido {
  text-align: center;
  color: #584d42;

  h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  p {
    font-size: 18px;
    margin-bottom: 20px;
    a {
      color: #e44d26;
      text-decoration: none;
      &:hover {
        color: #352e28;
      }
    }
  }
}

.boton {
  button {
    background-color: #584d42;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    a {
      color: white;
      text-decoration: none;
    }
  }

  button:hover {
    background-color: #352e28;
  }
}

/*AQUI ESTA EL ESTILO DEL FOOTER*/
.footer {
  margin-top: 4em;
  color: #555;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
