@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=Kanit:wght@300&family=Pixelify+Sans&display=swap');

*{
    font-family: 'Kanit', sans-serif;  
}

body{
    background-color:#8D7B68;
    justify-content: center;
    align-items: center;
    display: flex;
}

